@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono&display=swap');

/* Eric Myers Reset */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

/* Color Scheme */
:root {
  --orange: #FF764E;
  --light-blue:#5ED3EB;
  --yellow: #FFCD69;
  --bg-main: #DDB9A3;
  --bg-footer: #F9E7DC;
}

/* Typography */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.6rem;
  line-height: 1.5;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-family: 'Chelsea Market', cursive;
}

/* Site styles */
.nav-top {
  margin-top: 2%;
  margin-bottom: 2%;
}
.nav-top button {
  margin: 0 10%;
}

header {
  display: flex;
  align-items: center;
}
header .yosemite-img {
  width: 30%
}
header .yosemite {
  width: 70%
}

.section-one {
  width: 80%;
  margin: 0 auto;
  padding: 3% 6%;
  background-color: var(--bg-main);
}

.section-two p {
  width: 30%;
  margin: 0 auto;
}

footer img {
  width: 100%;
  object-fit: cover;
}
.nav-bottom {
  margin-top: 2%;
  margin-bottom: 2%;
}
.nav-bottom button {
  margin: 0 10%;
}



section {
  padding: 4% 0;
}

img {
  height: 200px;
  width: 200px
}